*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:  #212430;
    color: white;
    font-family: "Red Hat Display", sans-serif;
}

section {
    padding: 0px 160px;
}

/* CABEÇALHO*/
header {
    padding-inline: 16px;
}

a{
    text-decoration: none;
}

button{
    border: 0;
    outline: none;
    font-family: sans-serif;
    font-size: inherit;
    cursor: pointer;
}
  
.navbar{
    height: 90px;
    background-color: transparent;
    padding: 30px 10px;
    display: flex;
    justify-content: space-around;
}


.menu{
    display: flex;
    align-items: center;
    gap: 32px;
}

.menu-links{
    display: flex;
    border-right: 1px solid #ffffff;
    padding-inline: 3px;
    font-size: 18px;

}


.menu-links a{
    font-weight: 500;
    color: #ffffff;
    padding: 8px 16px;
}

.menu-links a:hover{
    color: rgb(72, 223, 27);
}

.donate {
    font-weight: 500;
    padding: 11px 22px;
    background-color: rgb(0, 255, 13);
    color: #000000;
    border-radius: 15px;
    transition: 0.2s;
    font-size: 16px;
}

.donate:hover{
    background-color: #0a801a;
    color: #ffffff;
}

.menu-btn{
    font-size: 32px;
    color: white;
    display: none;
    cursor: pointer;
}
  


/* midiasocial */

#midia{
    width: auto;
}

.midiasocial{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px 330px 10px;
    gap: 25px;
}

/* ID Frame 3 */

#Frame3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Perfil {
    width: 360px;
    height: 370px;
    border-radius: 24px, 0px, 0px, 24px;
}



/* ID Frame 3 */

#Frame3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Perfil {
    width: 340px;
    height: 349px;
    border-radius: 24px, 0px, 0px, 24px;
}

/* Class Frame 4 */

.Frame4 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 940px;
    background: linear-gradient(180deg, #2F3651 0%, #363C57 51.56%, #2F3653 100%);
    padding: 25px, 50px, 25px, 50px;
    border-radius: 0px 24px 24px 0px;
}

.Titulo {
    margin-top: 25px;
    font-weight: 700;
    font-size: 36px;
    margin-left: 50px;
}

.paragrafo {
    margin-left: 50px;
}

.Frame4, p {
    font-weight: 500;
    font-size: 16px;
}

/* Class Frame 5 */

.Frame5 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
}

.Frame5 img {
    object-fit: contain;
}

.city {
    margin-top: 5px;
    display: flex;
    align-items: center; 
    color: #747DA4;
}

.city img {
    width: 24px;
    height: auto;
    margin-right: 10px; 
}

.localizador {
    display: flex; 
    align-items: center; 
    text-decoration: none;
    color: #747DA4;
    font-size: 16px;
    font-weight: 700;
}

#capa2 {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #747DA4;
}

/* Class Frame 6 */

.Frame6 {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
}

.capa2 {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 245px;
    height: 34px;
    background: #454F76;
    border-radius: 4px;
    padding: 5px, 10px, 5px, 10px;
}

.email {
    display: flex; 
    align-items: center;
    color: #8B95BF;
    gap: 5px;
}

.email p { 
    margin-left: none;
}


.capa3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #454F76;
    Width:78px;
    Height:32px;
    border-radius: 4px;
}

.capa4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52.26px;
    height: 32px;
    background: #8FFF00;
    border-radius: 4px;
}

/* Class Frame 7 */

.Frame7 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 50px;
    gap: 50px;
}

.Frame8{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 45px;
}

.Titulo-Frame7 {
    font-weight: 700;
    font-size: 48px;
}

.paragrafo-Frame7 {
    color: #747DA4;
    font-weight: 500;
    font-size: 16px;
}

.img-Frame7 {
    width: 16px;
    height: 16px;
}

